# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# Runtime data (DO NOT COMMIT)
data/raw_files/
data/uploads/
data/vectors/
data/metadata/*.json

# Vector DB files
*.index
vector_hashes.json
vector_metadata.json

# OS files
.DS_Store
Thumbs.db
